@use '../../mixin.scss' as mixin;



.con {
    background: var(--bg-browse-page);
    position: relative;
}

.con_header {
    width: 100% !important;
    min-height: 50vh;
}

.hero__con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 50vh;
}

.rows_con {
    position: relative;
    z-index: 10;
    margin-top: -10vh;
}

.video_con {
    width: 100%;
    position: relative;
}

.bg_gradient {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, rgba(20, 20, 20, 0.685) 36%, rgb(20, 20, 20) 91%);
}



@include mixin.tablet {
    .con_header {
        min-height: 65vh;
    }


    .hero__con {
        min-height: inherit;
    }
}


@include mixin.extra {

    .con_header {
        min-height: 100vh;
    }

    .hero__con {
        min-height: 100vh;
    }

    .rows_con {
        margin-top: -17vh;
        position: relative;
        z-index: 10;
    }

}
