@use '../../mixin.scss' as mixin;




.hero__con {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;

    min-height: 50vh;
}

.hero__content {
    max-width: 500px;
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: .7rem;
        margin-top: 1em;
        font-weight: 500;
    }
}




@include mixin.tablet {
    .hero__con {
        min-height: 75vh;

        h1 {
            font-size: 2rem;
        }
    
        h3 {
            font-size: 1.5rem;
        }
    
        h5 {
            font-size: 1.3rem;
        }

        h1, h3, h5{
            line-height: 1;
        } 
    }

    .hero__content {
        max-width: 640px;

        h1 {
            margin-top: 2rem;
        }

        h5 {
            font-size: 1.3rem;
        }
    }
}

@include mixin.extra{

    .hero__con {
        height: 80.5vh;
    }

    .hero__content {
        max-width: 700px;
        padding: 2rem;
        text-align: center;

        h1 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.7rem;
        }

        h5 {
            margin-top: 1em;
            font-size: 1rem;
        }
    }

}
