@use '../../mixin.scss' as mixin;


.con {
    color: #fff;
    background-color: var(--bg-black);

    header {
        position: relative;
        width: 100%;
        min-height: 85vh;
        background-image: url('../../assets/index-bg-img.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

.overlay {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.622);
}


// section one
.setion__one_con {
    min-height: 60vh;
    background: var(--bg-black);
    border-top: 8px solid var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_one_con {
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    object-fit: contain;

    img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 5;

    }

    video {
        width: 80% !important;
        position: absolute;
        inset: auto auto;
        z-index: 0;
    }
}

// section two

.section_two {
    min-height: 60vh;
    background: var(--bg-black);
    border-top: 8px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_two_con {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img_con_section_two {
    flex: .5;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile {
        max-width: 100%;
    }

}

.float_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background: var(--bg-black);
    border: 1px solid gray;
    border-radius: 8px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;


    bottom: .7rem;
    width: 250px;
}

.download {
    width: 10%;
}

.float_box_LHS {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .75rem;

    span {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 12px;
    }

    .boxshot {
        width: 12%;
    }
}


// section three
.section_three {
    width: 100%;
    min-height: 30vh;
    border-top: 8px solid var(--gray);
    background: var(--bg-black);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.section_three_con {
    max-width: 555px;
}

// section four
.section_four {
    min-height: 60vh;
    background: var(--bg-black);
    border-top: 8px solid var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .section_four_con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: column-reverse;

        .img__con_sec_four {
            width: 100%;
            flex: .5;
        }

        img {
            max-width: 100%;

        }
    }
}

// section 5 (FAQ)

.section_five {
    min-height: 70vh;
    background-color: var(--bg-black);
    border-top: 8px solid var(--gray);
    border-bottom: 8px solid var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.section_five_con {
    h5 {
        text-align: center;
    }
}

.img_one_con {
    width: 100%;

    img {
        width: 100%;
    }

    video {
        width: 65%;
        position: absolute;
        inset: 3.5rem 3.2rem;
        z-index: 0;
    }
}

// section three

.section_three_con {
    width: 100%;
}




// tablet
@include mixin.tablet {
    .con header {
        min-height: 85vh;
    }

    // section one

    .setion__one_con {
        gap: 1rem;
    }

    .img_one_con {
        width: 100%;

        video {
            width: 80%;
            position: absolute;
            z-index: 0;
        }
    }

    // section two

    .section_two_con {
        flex-direction: column-reverse;
        justify-content: center;

        .mobile {
            width: 80%;
        }
    }

    .float_box {
        border: 1px solid #ccc;
        width: 350px !important;

    }

    // section four

    .section_four_con {
        flex-direction: column-reverse;

        .img__con_sec_four {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex: .5;
        }

        img {
            max-width: 80% !important;

        }
    }

    // section 5 (FAQ)
    .inputs_con {
        margin-top: .5em;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        flex: 1;
        height: min-content;

        input {
            width: 100%;
            border-radius: 4px;
            height: 70px;
            font-size: 17px;

            &::placeholder {
                font-size: 17px;
            }
        }

        .btn {
            width: 30%;
        }

    }
}



@include mixin.extra {

    .con {
        color: #fff;
        background-color: var(--bg-black);

        header {
            position: relative;
            width: 100%;
            min-height: 85vh;
            background-image: url('../../assets/index-bg-img.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }
    }

    .overlay {
        min-height: inherit;
        background-color: rgba(0, 0, 0, 0.622);
    }


    // section one
    .setion__one_con {
        min-height: 60vh;
        background: var(--bg-black);
        border-top: 8px solid var(--gray);
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .img_one_con {
        flex: .5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        object-fit: contain;

        img {
            max-width: 100%;
            max-height: 100%;
            position: relative;
            z-index: 5;
        }

        video {
            width: 56%;
            position: absolute;
            inset: auto auto;
            z-index: 0;
        }
    }

    // section two

    .section_two_con {
        flex-direction: row !important;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .float_box {
        padding: .5rem;
        background: var(--bg-black);
        border: 1px solid gray;
        border-radius: 8px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 1.2rem;
        margin: auto;

        .download {
            width: 12%;
        }
    }

    .float_box_LHS {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .75rem;

        span {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-size: 12px;

            & span:nth-child(1) {
                font-size: 14px;
                font-weight: 500;
            }

            & span:nth-child(2) {
                color: rgb(78, 78, 241);
            }
        }

        .boxshot {
            width: 20%;
        }
    }

    // section four

    .section_four {
        .section_four_con {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            flex-direction: row;

            .img__con_sec_four {
                width: 100%;
                flex: .5;
            }

            img {
                max-width: 100%;
            }
        }
    }

    // section five

    .section_five {
        min-height: 70vh;
        background-color: var(--bg-black);
        border-top: 8px solid var(--gray);
        border-bottom: 8px solid var(--gray);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .accordion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        margin-top: 2rem;
    }

}
